#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

#loading {
    display: none;
}

.btn {
    margin-bottom: 25px;
}

img {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 40%;
    max-width: 60%;
}

.bio {
    /* display: none; */
    background:  rgb(179, 159, 159);
}