<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Portfolio</title>
  {{> head}}
</head>
<body>
  {{> header}}
  <div class="container">
    {{> intro }}
    {{> projects }}
    {{> contact}}
  </div>
  {{> scripts}}
</body>
</html>
